
<div class="centerHome" > 
  <ion-item lines="none">
      <app-logo slot="start"></app-logo>
      <ion-tab-button color="warning" slot="end"tab="checkout">
        <ion-icon  name="cart"></ion-icon>
        <ion-label>carrinho</ion-label>
      </ion-tab-button>
  </ion-item>
  
  <ion-item lines="none">
      <p slot="start">Ola, Paulo. <p> 
      
      <!--<app-points slot="end"></app-points>-->
    
      <p slot="botton">Veja as super ofertas que temos essa semana para vocês </p>
  </ion-item>
  
</div>

<ion-content>
  
    
  <app-home-slides></app-home-slides>
</ion-content>
